.contact-details-page {
  flex-direction: column;
  position: relative;
  margin-block-start: 10px;
  .edit,
  .back {
    position: absolute;
    top: 0;
    font-size: 2.3rem;
  }
  .edit {
    right: 0;
  }
  .back {
    left: 0;
  }

  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-block-end: 10px;
  }
  .contact-details-preview {
    flex-direction: column;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 2rem;
      &:first-child {
        color: #e44f65;
      }
    }
    input {
      width: 100%;
      border: none;
      border-radius: 3px;
      background: #fafbfc;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      box-sizing: border-box;
      display: block;
      line-height: 20px;
      margin-bottom: 12px;
      outline: none;
      padding: 8px 12px;
      color: #172b4d;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
    button {
      border: none;
      border-radius: 3px;
      box-shadow: none;
      height: 32px;
      font-size: 14px;
      align-items: center;
      gap: 10px;
      //   width: calc(50% - 10px);
      color: #172b4d;
      transition: all 85ms;
      margin-top: 8px;
      margin-left: 0;
      cursor: pointer;
    }
  }
}
